################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/AccountValidator/.vs/ProjectEvaluation/accountvalidator.metadata.v9.bin
/AccountValidator/.vs/ProjectEvaluation/accountvalidator.projects.v9.bin
/AccountValidator/.vs/ProjectEvaluation/accountvalidator.strings.v9.bin
/AccountValidator/.vs/AccountValidator/v17/.futdcache.v2
/AccountValidator/.vs/AccountValidator/v17/.suo
/AccountValidator/.vs/AccountValidator/v17/DocumentLayout.backup.json
/AccountValidator/.vs/AccountValidator/v17/DocumentLayout.json
